<footer class="text-center text-copy text-muted pb-3">
    <div class="container">
        <hr>
    </div>
    © 2017 bearlybits
    <a class="h4 text-secondary ml-4 social-media-link" target="_blank" href="https://www.instagram.com/kumajeff/"><i class="fa fa-instagram"></i></a>
    <a class="h4 text-secondary ml-4 social-media-link" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
    <a class="h4 text-secondary ml-4 social-media-link" target="_blank" href="https://www.linkedin.com/in/hsiungjeffrey/"><i class="fa fa-linkedin"></i></a>
</footer>